:host {
  display: inline-block;
  padding: 30px;
}

.convertCurrency {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

select {
  font-size: 20px;
  width: 80px;
  text-align: center;
}

select:focus {
  size: 2;
}

input {
  font-size: 25px;
  width: 150px;
}
