.convertCurrency {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

select {
  font-size: 20px;
}

input {
  font-size: 25px;
  width: 150px;
}
